@mixin pageDimensions ($height, $width) {
  height: $height;
  width: $width;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

.page1 {
  @include pageDimensions(100vh, 100%);
  display: flex;
  flex-direction: row;
  .col {
    width: 33%;
    position: relative;
    p{
      display: none;
      font-size: 4em;
      color: #1d1d1d;
      position: absolute;
      top: 5%;
      left: 45%;
    }
    &:hover {
      width: 100%;
      transition: all 1s linear;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .col1 {
    background-image: url("https://static.pexels.com/photos/5049/forest-trees-fog-foggy.jpg");
    background-position: right;
  }
  .col2 {
    background: #D1DBDD;
    p {
      justify-content: flex-start;
    }
  }
  .col3 {
    background-image: url("https://static.pexels.com/photos/5049/forest-trees-fog-foggy.jpg");
    background-position: left;
  }
}

.page2 {
  @include pageDimensions(100vh, 100%);
  // background: linear-gradient( #EDDEA4, #F7A072); cool sunrise gradient
  background: linear-gradient( #D1DBDD, #a5b9bc);
  padding: 2rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 22vh 22vh 22vh 22vh;
  grid-gap: 1rem;
  .item6,
  .item7,
  .item10,
  .item11 {
    background: url("https://static.pexels.com/photos/540518/pexels-photo-540518.jpeg") no-repeat;
    background-size: cover;
    &:hover {
      box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
    }
  }
  .item6,
  .item7,
  .item10,
  .item11{
    background-position: top left;
  }
}

.page3 {
  @include pageDimensions(100vh, 100%);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;
  grid-gap: 1rem;
  background: #424B54;
  .col {
    border: 1px solid red;
  }
}
