html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
  .col {
    width: 33%;
    position: relative;
    p{
      display: none;
      font-size: 4em;
      color: #1d1d1d;
      position: absolute;
      top: 5%;
      left: 45%;
    }
    &:hover {
      width: 100%;
      transition: all 1s linear;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .col1 {
    background-image: url("https://static.pexels.com/photos/5049/forest-trees-fog-foggy.jpg");
    background-position: right;
  }
  .col2 {
    background: #D1DBDD;
    p {
      justify-content: flex-start;
    }
  }
  .col3 {
    background-image: url("https://static.pexels.com/photos/5049/forest-trees-fog-foggy.jpg");
    background-position: left;
  }
}

.wholeScreen {
  width: 100%;
  height: 100vh;
  // background: linear-gradient( #EDDEA4, #F7A072); cool sunrise gradient
  background: linear-gradient( #D1DBDD, #a5b9bc);
  padding: 2rem;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 1rem;
  .item {
    border: 1px solid #1d1d1d;
    position: relative;
    p {
      display: none;
      font-size: 4rem;
      position: absolute;
      top: 25%;
      left: 45%;
    }
  }
  .item2 {
    grid-template-rows: 30vh 30vh 30vh;
    border: none;
    .row {
      height: 30vh;
      margin: 10px 0;
      border: 1px solid #1d1d1d;
    }
    .item3 {
      margin-top: 0;
    }
    .item5 {
      margin-bottom: 0;
    }
  }
}
